.card {
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
}

.card.selected {
    border-color: #053d38;
    box-shadow: 0 0 0 0.25rem #053d38;
}

.pref{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #2c3e50;
}

.choice{
    color: #2c3e50;
}