<!-- <input type="checkbox" id="toggle-sidebar" class="toggle-checkbox">
<label for="toggle-sidebar" class="toggle-button">☰</label> -->
<div id="sidebar">

  <div class="logo">
    
    <img src="./assets/logo2.ico" alt="Logo">
    <span class="logo-baby-girl">Newshub</span>
  </div>
  <div class="user-profile">
    <span class="img-cadre" id="gender"></span>
    <div class="user-info">
      <span class="username" id="nom"></span>
    </div>
    <span class="arrow">&#9662;</span>
    <div class="dropdown-menu">
      <a href="#profile">
        <i class="fas fa-user"></i>
        Profile
      </a>
      <!-- <a href="#notifications">
        <i class="fas fa-bell"></i>
        notification
      </a> -->
      <a href="#history">
        <i class="fas fa-history"></i>
        History
      </a>
      <a href="#" id="out">
        <i class="fas fa-sign-out-alt"></i>
        Log out
      </a>    
    </div>
  </div>
  <ul class="menu">

    <li class="menu-item">
      <a href="#main" class="menu-link">
        <span class="menu-icon">
          <img src="./assets/svg/home.svg" alt="Home">
        </span>
        <span class="menu-text">Home</span>
      </a>
    </li>

    <li class="menu-item">
      <a href="#discover" class="menu-link">
        <span class="menu-icon">
          <img src="./assets/svg/trending.png">
        </span>
        <span class="menu-text">Discover</span>
      </a>
    </li>

    <li class="menu-item">
      <a href="#following" class="menu-link">
        <span class="menu-icon">
          <img src="./assets/svg/following.png" alt="Following">
        </span>
        <span class="menu-text">Following</span>
      </a>
    </li>

    <li class="menu-item">
      <a href="#categories" class="menu-link">
        <span class="menu-icon">
          <img src="./assets/svg/categories.png" alt="Categories">
        </span>
        <span class="menu-text">Categories</span>
      </a>
    </li>

    <li class="menu-item">
      <a href="#radio" class="menu-link">
        <span class="menu-icon">
          <i class="fas fa-podcast"></i>
        </span>
        <span class="menu-text">Radio</span>
      </a>
    </li>
  </ul>

  <span class="test"></span>
  
  <div class="topics">
    <ul class="menu">

      <li class="menu-item">
        <a href="#trending" class="menu-link">
          <span class="menu-icon">
            <img src="./assets/svg/trending.png">
          </span>
          <span class="menu-text">Trending</span>
        </a>
      </li>

      <!-- <li class="menu-item">
        <a href="#history" class="menu-link">
          <span class="menu-icon">
            <i class="fas fa-history"></i>
          </span>
          <span class="menu-text">History</span>
        </a>
      </li> -->

      <!-- <li>
        <span><img src="./assets/svg/search.png" style="width: 12%;height: 20px;margin-right: 10px;"></span>
        <a href="#search" class="font">Search</a>
      </li> -->

      <li class="menu-item">
        <a href="#saved" class="menu-link">
          <span class="menu-icon">
            <img src="./assets/svg/saved.png">
          </span>
          <span class="menu-text">Saved</span>
        </a>
      </li>

    </ul>
  </div>

  <span class="test1"></span>

    <ul class="menu">

      <!-- <li class="menu-item">
        <a href="#Notifications" class="menu-link">
          <span class="menu-icon">
            <img src="./assets/svg/notification.png" alt="Notifications">
          </span>
          <span class="menu-text">Notifications</span>
        </a>
      </li> -->

      <li class="menu-item">
        <a href="#settings" class="menu-link">
          <span class="menu-icon">
            <img src="./assets/svg/settings.png">
          </span>
          <span class="menu-text">Settings</span>
      </li>
    </ul>

</div>