<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signing up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
    <section class="vh-200" style="background-color: #DCDCDC;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="col-12 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form id="signform">
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <img src="../assets/newshub.png" style="height: 50px; margin-right: 10px;">
                          <span class="h1 fw-bold mb-0">NewsHub</span>
                        </div>
      
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Inscrivez-vous pour votre compte</h5>
      
                        <div class="row mb-4">
                          <div class="col-md-6">
                            <input type="text" id="prenom" name="prenom" class="form-control form-control-lg" placeholder="Prénom" />
                            <span id="prenomerror"></span>
                          </div>
                          <div class="col-md-6">
                            <input type="text" id="nom" name="nom" 
                            class="form-control form-control-lg" placeholder="Nom" />
                            <span id="nomerror"></span>
                          </div>
                        </div>
      
                        <div class="row mb-4">
                          <div class="col-md-6">
                            <select class="form-control form-control-lg" id="genre"
                            name="genre">
                              <option value="">Selectioner le genre</option>
                              <option value="male">Homme</option>
                              <option value="female">Femme</option>
                              <option value="other">Autre</option>
                            </select>
                            <span id="genreerror"></span>
                          </div>
                          <div class="col-md-6">
                            <input type="date" id="naissance" name="naissance"  class="form-control form-control-lg" placeholder="Date de naissance" />
                            <span id="naissanceerror"></span>
                          </div>
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="address email" />
                          <span id="emailerror"></span>
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="password" id="motdepass" name="motdepass"  class="form-control form-control-lg" placeholder="mot de pass" />
                          <span id="motdepasserror"></span>
                        </div>
      
                        <div class="row mb-4">
                          <div class="col-md-6">
                            <input type="text" id="pays" name="pays" class="form-control form-control-lg" placeholder="Pays" />
                            <span id="payserror"></span>
                          </div>
                          <div class="col-md-6">
                            <input type="text" id="ville" name="ville" class="form-control form-control-lg" placeholder="Ville" />
                            <span id="villeerror"></span>
                          </div>
                        </div>
      
                        <div class="pt-1 mb-4">
                          <button class="btn btn-dark btn-block" style="background-color: #50C9CE; border-color: #50C9CE;" name="ville" id="submit" type="submit"> S'inscrire</button>
                        </div>
      
                        <p class="mb-5 pb-lg-2" style="color: #000000;">Vous avez déja un compte? <a href="./login.html" style="color: #393f81;text-decoration: 0;">Connectez-vous ici</a></p>
                        <a href="#" class="small text-muted">Terms of use.</a>
                        <a href="#" class="small text-muted">Privacy policy</a>
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>      
</body>
</html>
<script src="../scripts/sign_log.js"></script>